body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1266AC;
}

header {
    text-align: center;
    margin: auto;
    background-color:white;
    padding: 25px;
    color: white;
}

.navigation-bar {
    background-color: gray; /* Change the background color as needed */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100px;
    margin-bottom: 2%;
    
}

.navigation-bar ul {
    /* list-style: none; */
    padding: 0;
}

.navigation-bar li {
    display: inline;
    margin: 10px;
}

.navigation-bar a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

/* Style the active tab */
.navigation-bar li.active {
    font-weight: bold;
}

#dropdown{
    align-content: center;
    text-align: center;
}

#ReshallDrop{
    margin-left: 33%;
    align-content: center;
    text-align: center;
    width: 33%;
    color: white;
}