body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, .navbar {
    background-color: #1266AC; /* Bootstrap's primary blue color */
    color: #fff;
}

#birdLogo {
    max-width: 250px;
    display: block; 
    margin: 0 auto;
}

#textLogo {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    padding: 15px;
}

.navbar {
    background: linear-gradient(to right, white, black) !important;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar a:hover {
    color: #ffcc00; /* Yellow color on hover */
}

.input {
    width: 200px;
    align-content: center;
}

form {
    display: inline-block;
}

main {
    background: linear-gradient(to bottom, white, #1266AC) !important;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
}

main > h2 {
    text-align: center;
    font-size: 36px; /* Increase the font size for consistency */
    padding: 15px;
}

.visible {
    visibility: hidden;
}

#housing-button {
    display: block;
    margin: 0 auto;
    background-color: #dad9da;
    border: 2px solid black;
    color: black;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.hidden {
    visibility: hidden;
}

#checkQueue {
    display: block;
    margin: 20px auto;
    background-color: #1266AC;
    border: 2px solid #1266AC;
    color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; /* Change cursor on hover */
}

#checkQueue:hover {
    background-color: #0a4f91; /* Darker color on hover */
    border-color: #0a4f91;
}

#queueOrder {
    border: 2px solid black;
    max-width: 350px;
    margin: auto;
}

#queueOrder > h3 {
    text-align: center;
}

.container {
    margin: auto;
    /* border: 2px solid black; */
    align-items: center;
    text-align: center;
}