body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, .navbar {
    background-color: #1266AC; /* Bootstrap's primary blue color */
    color: #fff;
}

#birdLogo {
    max-width: 250px;
    display: block; 
    margin: 0 auto;
}

#textLogo {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    padding: 15px;
}

.navbar {
    background: linear-gradient(to right, white, black) !important;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar a:hover {
    color: #ffcc00; /* Yellow color on hover */
}

.input {
    width: 200px;
    align-content: center;
}

form {
    display: inline-block;
}

#login {
    text-align: center;
}

.loggedin {
    visibility: hidden;
}

main {
    background: linear-gradient(to bottom, white, #1266AC) !important;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
}

main > h2 {
    text-align: center;
    font-size: 36px; /* Increase the font size for consistency */
    padding: 15px;
}

#dropdown {
    align-content: center;
    text-align: center;
}

#surveyDropdown {
    text-align: center;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border: 2px solid #1266AC;
    border-radius: 8px;
    overflow: hidden;
}

#roommates {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #1266AC;
    border-radius: 8px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group-text {
    border: 2px solid #1266AC;
    background-color: #1266AC;
    color: white;
}

.form-floating {
    width: 100%;
}
  
#saveButton {
    display: block;
    margin: 0 auto;
    background-color: #dad9da;
    border: 2px solid black;
    color: black;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

#saveButton:hover {
    background-color: #1266AC;
    border-color: #1266AC;
    color: white;
}

.visible {
    visibility: hidden;
}
