body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, white, #1266AC) !important;
}

html {
    margin: 0;
    padding: 0;
}

header, .navbar, #login {
    background-color: #1266AC; /*Bootstrap's primary blue color*/

    color: #fff;
}

#login {
    color: black;
    background-color: white;
    
}

.navbar {
    background: linear-gradient(to right, white, black) !important;
}

#birdLogo {
    max-width: 250px;
    display: block; 
    margin: 0 auto;
}

#textLogo {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    padding: 15px;
    animation: fadeInUp 2s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar a:hover {
    color: #ffcc00; /* Yellow color on hover */
}

#welcome-text {
    font-size: 36px;
    text-align: center;
    border: 2px solid black;
    max-width: 50%;
}

#welcome-subtext {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    font-size: 28px; /* Adjust the font size */
    line-height: 1.5; /* Adjust the line height */
    color: #333;
}

#welcome+div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login {
    max-width: 300px; /* Adjust based on your design preferences */
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

#logbtn {
    background-color: #1266AC;
    color: #fff;
    border: 2px solid #1266AC;
    border-radius: 5px;
}

#logbtn:hover {
    background-color: white;
    border-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#queues{
    width: 25%;
    padding-left:15%;
}

nav.navbar{
    display: flex;
    justify-content: space-between;
}
