body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DAD9D9 !important;
}


header {
    background-color: #1266AC;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#birdLogo {
    max-width: 200px;
    display: block; 
    margin: 0 auto;
}

#textLogo {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    padding: 15px;
}

.navbar {
    background-color: #1266AC;
    text-align: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}


#dropdown{
    align-content: center;
    text-align: center;
}

#ReshallDrop{
    margin-left: 33%;
    align-content: center;
    text-align: center;
    width: 33%;
    color: black;
    padding: 15px;
}
#ResPhotos {
    text-align: center;
}
#ResPhotos img{
    padding-top: 15px;
    padding-bottom: 30px;
    width: 50%; 
    height: auto;
    
}

.hide {
    display: none;
}
