body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DAD9D9 !important;
}


header {
    background-color: #1266AC;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    text-align: center;
    padding: 15px;
    
}

main>h1 {
    font-size: 32px;
    /* animation: bounce 1s infinite; */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Initial and final position */
    }
    40% {
        transform: translateY(-10px); /* Bounce effect */
    }
    60% {
        transform: translateY(-5px); /* Bounce effect */
    }
}

main>h2 {
    font-size: 24px;
}

#birdLogo {
    max-width: 200px;
    display: block; 
    margin: 0 auto;
}

#textLogo {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    padding: 15px;
}

.navbar {
    background-color: #1266AC;
    text-align: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}


#dropdown{
    align-content: center;
    text-align: center;
}

#ReshallDrop{
    margin-left: 33%;
    align-content: center;
    text-align: center;
    width: 33%;
    color: black;
    padding: 15px;
}
#ResPhotos {
    text-align: center;
}
#ResPhotos img{
    padding-top: 15px;
    padding-bottom: 30px;
    width: 50%; 
    height: auto;
    
}

.hide {
    display: none;
}
