body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, .navbar {
    background: linear-gradient(to right, white, black) !important;
    color: #fff;
}

#birdLogo {
    max-width: 250px;
    display: block; 
    margin: 0 auto;
}

main {
    background: linear-gradient(to bottom, white, #1266AC) !important;
    min-height: 100vh;
    text-align: center;
    margin: auto;
    padding: 20px;
}

main > h1 {
    font-size: 32px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Initial and final position */
    }
    40% {
        transform: translateY(-10px); /* Bounce effect */
    }
    60% {
        transform: translateY(-5px); /* Bounce effect */
    }
}

main > h2 {
    font-size: 24px;
}

#textLogo {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    padding: 15px;
}

.navbar {
    background: linear-gradient(to right, white, black) !important;
    text-align: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

#dropdown {
    align-content: center;
    text-align: center;
}

#ReshallDrop {
    margin: 20px auto; /* Center the dropdown */
    max-width: 400px; /* Limit the width for better appearance */
    padding: 15px;
    border: 2px solid #1266AC;
    border-radius: 8px;
}

#ResPhotos {
    text-align: center;
}

#ResPhotos img {
    padding-top: 15px;
    padding-bottom: 30px;
    width: 50%;
    height: auto;
}

.hide {
    display: none;
}
